<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <div class="sidenav flexbox-sidenav-content">
            {{ range .Site.Menus.main }}
            <div class="text-right">
                <a href="{{ .URL }}" title="{{ .Title }}" class="menu-entry">{{ .Name}}</a>
            </div>
            {{ end }}
        </div>
        <div id="content" class="content not-sidebar">
        {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}
    </body>
</html>
