<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <div class="sidenav">
            <a href="{{ .Site.BaseURL }}" class="menu-entry">Home</a> 
                <div class="flexbox-sidenav-content">
                {{ range .Site.Menus.main }}
                <div class="text-right">
                    <a href="{{ .URL }}" title="{{ .Title }}" class="menu-entry">{{ .Name}}</a>
                </div>
                {{ end }}
            </div>
        </div>
        <div id="content" class="content not-sidebar">
        {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}
    </body>
</html>
