:root{
  --sidebar-width: 10rem;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration:underline; 
  cursor:pointer;  
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70vh;
}

.menu-entry {
  text-transform: uppercase;
  margin: 5px;
}

.flexbox-sidenav-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: stretch;
}

.flexbox-sidenav-content > * {
  flex: 0 1 auto;
  align-self: stretch;
}

.text-right {
  text-align: right;
}

.content {
  text-align:justify;
  display: block;
}

.sidenav {
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  position: fixed;
  width: var(--sidebar-width);
  height: 100%;
  background-color: rgb(177, 177, 177);
}

.not-sidebar {
 margin-left: var(--sidebar-width);
}

@media only screen and (max-width: 600px) {
  :root {
    --sidebar-width: auto;
  }

  .flexbox-sidenav-content {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: normal;
    align-items: flex-start;
    align-content: normal;
  }

  .sidenav {
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    position: static;
    width: var(--sidebar-width);
    height: auto;
    background-color: rgb(177, 177, 177);
  }
}