<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <title>{{ if not .IsHome }}{{ with .Title }}{{ . }} | {{ end }}{{ end }}{{ .Site.Title }}</title>
    <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ with .Summary }}{{ . }}{{ else }}{{ .Site.Params.description }}{{end }}{{ end }}">
  {{/* css */}}
  {{ .Site.Params }}
  {{ range .Site.Params.css -}}
      <link rel="stylesheet" href="{{ . | absURL }}">
  {{- end }}

  {{/* javascript */}}
  {{ range .Site.Params.javascript -}}
      <script type="text/javascript" src="{{ . | absURL }}"></script>
  {{- end }}
</head>
